<h2>Create a team</h2>
<p>
	If you are already on a team and wish to register for a new season. Please simply <%= link_to 'visit the registration page', register_path %> instead.
</p>

<p>
	Please make sure that you are positive you will be able to field 5 players each week
	before submitting this. If you already have an existing team, consider simply adding members there or changing the name instead.
</p>

<%= render :partial => "teams/new_team_form", locals: {remote: false} %>