<div id="fullbox">
    <div id="tabs">
    		<%- @seasons.each do |season| %>
        	<%= link_to season.title, season, :class => "tab " + (@season == season ? "active" : "nonactive") %>
        <% end %>
        <div style="clear: both"></div>
        <div class="TabsContainer">
            <div class="tabbody3 active">
                <div class="col-sm-4">
                    <h2>Rankings</h2>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 204px; text-align: left">Name</th>
                                <th>Total Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@teams.each do |team|%>
                                 <tr>
                                    <td><%= link_to team.teamname, team %></td>
                                    <td><%= @total_scores[team.id].to_i %></td>
                                 </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-2">
                    <h2>Schedule</h2>
                    <%= render :partial => "matches/match_table", :object => @matches %>
                </div>
            </div>
        </div>
    </div>
</div>