<% content_for :page_subtitle do %>
    Schedule
<% end %>
<% content_for :meta_description do %>
    Check out the schedules for all the currently running AD2L tournaments
<% end %>
<% content_for :subnav do %>
    <ul class="nav nav-tabs">
    <%- @seasons.each do |season| %>
            <% unless season.active == false %>
             <li class="tab <%= (@season == season ? "active" : "")%>" + ><%= link_to season.title, season %></li>
            <%end%>
        <% end %>
    </ul>
<% end %>

<!-- IE Browser version check -->
<% if browser.ie? && browser.version.to_i < 11 %>
  <div class="alert alert-info">
    <p>You appear to be using an out of date version of Internet Explorer. Unfortunately, the super fancy and modern bracketing you are supposed to see below probably doesn't look right. In order to make sure you get the best experience, please join the future and <a href="http://browsehappy.com/">get an updated one!</a></p>
  </div>
<% end %>

<h4>Playoffs</h4>
<p>Hover over a match to view time information, you can also click on a match to go to the page for that match. Always trust the individual match pages as the final source of information, the brackets may ocasionally be drawn wrong</p>

<h4>Bracket</h4>
<div class="Bracket">
  <%- @matches_by_round.each do |round, matches| %>
    <ul class="round round-<%= round %>">
      <%- matches.each_with_index do |m, i| %>
        <% if round == 1 && (!m.home_participant || !m.away_participant) %>
          <li class="game game-bye game-top">&nbsp;</li>
          <li class="game game-bye game-spacer">&nbsp;</li>
          <li class="game game-bye game-bottom ">&nbsp;</li>
        <% else %>
          <%= render partial: "seasons/tournament_match", locals: {m: m} %>
        <% end %>
        <% unless i == matches.length - 1 %>
          <li class="spacer">&nbsp;</li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>