<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <p>
      We've worked hard on a new free agent page and it is up and ready to go!  With this new page you'll be able to sort by region, name, role, endorsements (more on this later) and search by all of those things!  Check it out <%=link_to "here", "http://amateurdota2league.com/players"%>.  In doing this, we cleared the current free agent list.  So, if you're interested in being a free agent and joining a team or even standing in, please go to your <%=link_to "player page", "http://amateurdota2league.com/players/#{@player.id}"%> and toggle your free agent status on.
    </p>
    <p>
      So, endorsements and comments have been added!  Let's say you have played with a player and feel that they are a solid player.  You just select the player you want to endorse from the free agent page or if you know the link directly to their player page you can use that.  Once on their page you can endorse them by clicking the heart by their name.  You can always leave a friendly, helpful comment as well.  The comments section is NOT a place for criticism or flames.  If we see those, we will remove them and keep note of who is leaving them.  Please, use these tools to find teams and find players!  
    </p>
    <p>
      Last item of business is Seth's email.  Since we changed hosts all email addresses that were @amateurdota2league were pretty much knocked offline.  We've decided to change Seth's email address to sethad2l@gmail.com.  So, if you have any questions regarding the open, email him there!  I think you should email him anyway just to make his nice, empty email box feel loved.  :)
    </p>
    <p>
      Thanks everyone and good luck in your playoffs and/or prep for next season!!
    </p>
    <p>
      Jordan
    </p>
  </body>
</html>