<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%=@player.name%></h1>
    <p>
      Someone commented on your match!<br>
    </p>
    <p>
      Now I talk about the free agent page.
    </p>
  </body>
</html>