<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <h2>No-Shows, Forfeits, Disputes, Coordination and Scheduling</h2>
    <p>
      Hello all! Hopefully everyone enjoyed the round robin portion of Season 4! As it’s now time for playoffs, we wanted to reiterate some of the rules and best practices to make sure everyone is on the same page for the tournament and for season 5 going forward. Please note that we’ve incorporated tons of the survey feedback we got to make some of these decisions.Playoffs started last Thursday, the 14th.  There are so many scores that I don't have reported!  If your score hasn't been record on the correct playoff bracket, let me know the score!  If you haven't played your match yet, get it played by Thursday, the 21st.
    </p>
    <h3>Scheduling</h3>
    <p>
      We try to assign every match a default time, you are of course welcome to reschedule at a better time for you and the other team, but both captains must confirm this on the match page on the AD2L site. One captain may propose a change by picking a new time, and the other captain must accept it. Until this happens, everyone is expected to play at the default time shown on the match page. Please check your match pages frequently for comments or changes! From now on (post-playoffs) each match on the site will have a lobby password generated for it (on the page). You should search for the lobby or create it if it does not exist.
    </p>
    <h3>Contact</h3>
    <p>
      We encourage you to contact the other captain ahead of time to ensure the time works and to coordinate on finding a caster or whatever else you might need. However, should you be unable to find the other team, the ONLY place to look is the <%=link_to "AD2L Steam chat" "steam://friends/joinchat/103582791435143521" %>. Only captains should communicate in steam chat. Friend requests are unreliable. Guild chat is non-official as we cannot invite everyone in a timely fashion, feel free to use guild chat to find inhouses and RMM players. But if you are looking for an opponent look in steam chat instead.
    </p>
    <h3>Forfeits</h3>
    <p>
     We recognize that no-shows were a huge problem this season, and we’d like to clarify the rules for everyone going forward. If all of your players are not in the lobby 15 minutes after the scheduled time, you forfeit one game. 30 minutes - both games. We want this to be a fun league and encourage you to scrimmage, but if you are claiming a forfeit win, you must do so BEFORE any games are played. If both captains agree to play late, you may no longer claim a forfeit win. Evidence of a no-show should always be captured and submitted IMMEDIATELY to the email below. We will use the time we receive the email as the final time the match was called.
    </p>
    <h3>Reporting and Disputes</h3>
    <p>
     We’ve also empowered captains to report scores, it is your job to ensure your teams scores are accurate. Please report each match by editing the score on the match page after your game. If you have an issue you feel the admins need to get involved with, please collect evidence and email ad2l-admins@googlegroups.com, we will only be assisting with requests sent via that account.
    </p>
    <h3>Behavior/h3>
    <p>
     This should go without saying, but the AD2L is above all else a community. BMing in all-chat, guild chat, or elsewhere is unacceptable. The admins reserve the right to remove anyone from tournaments at any time for below par behavior. So think happy thoughts and respect the other team.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Jordan
    </p>
  </body>
</html>