<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p><a href="http://www.amateurdota2league.com/register">Season 7 registration</a> is now open, so go grab your people and sign up for the most amazing league in Dota. Our stuff is pure gold, I say that in all humbleness. I hope you are enjoying the Season 6 playoffs. We love you guys!</p>
	
	<p>So let me lay out some quick details for Season 7.</p>

	<p>Game play starts on <strong>April 16th</strong>.</p>

	<p>Registration has started. There is a late fee if you don't sign up before <strong>March 22nd</strong>. The same rules from Season 6 apply to Season 7. In the ENTRY leagues you cannot have someone  higher than 4k mmr on your team. If they are borderline 4k just let us know and we can review that case by case. Games will be played Thursday night NA @ 9pm edt and EU @ 9pm (UTC+00:00). Reschedules are allowed, but both captains must agree. If one captain doesn't agree, then the match is played at the default time.</p>

	<p>We are sponsored by <a href="https://www.namecheap.com/ ">https://www.namecheap.com/</a> What does that mean for you? Well for one thing if you tweet @namecheap during the sign up process then you <strong>save $1.00</strong> dollar on your Registration fee.  So get your tweeting and start saving. Also, go check out NameCheap, they have great services for purchasing domain names.</p>

	<p>If you are a team that has been with us through many season we are happy to waive the registration fee. To qualify you must send me an email amateurdota2league@gmail.com and give me your team page. You must have played in every game in Season 6. If you forfeited one game because your team didn't show up then you don't qualify for an invitation. We want to reward teams and captains that have been consistently showing up to matches, because honestly, they are the real MVP's.</p>

	<p>Good luck and have fun!</p>
	<small>Don't want any more AD2L emails?  <a href="amateurdota2league.com/no_emails?id=<%=@player.id%>&unsubscribe_key=<%=@player.unsubscribe_key%>">Unsubscribe</a></small>
  </body>
</html>