<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Super quick email!  We just wanted to let you know that we are going to be doing a Captain's Draft tournament this Saturday!  Go and <%=link_to "register", "http://amateurdota2league.com/register"%> if you enjoy a good captain's draft tournament (I know I do!).</p>

	<p>We are also still looking for the best way to allow players to communicate with one another.  To try and aid this, we've introduced player forums, found <%=link_to "here", "http://amateurdota2league.com/forums"%>.</p>


	<p>Good luck and have fun!</p>

	<p>-Jordan</p>
	<small>Don't want any more AD2L emails?  <a href="http://amateurdota2league.com/no_emails?id=<%=@player.id%>&unsubscribe_key=<%=@player.unsubscribe_key%>">Unsubscribe</a></small>
  </body>
</html>