<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Greetings all!</h2>
    <h3>Season 6</h3>
    <p> 
      Registration is now open!  Come register at <%= link_to "our registration page.", "http://amateurdota2league.com/register"%>!      
    </p>
    <p>
      If you played with us in previous seasons and did very well, contact us and we're happy to add you to our invited champion teams.  If you've played with us in the past and been reliable, contact us and we're happy to waive your $3 entry fee for the entry or heroic level.
    </p>
    <h3>Patreon</h3>
    <p>
      Patreon is still a big deal to us!  We'd love to have your support there.  We'd be more than happy with just $1 a month if you can spare it and for that $1 you can help support AD2L!  Please check it out below!
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <p>
      Thanks,
    </p>
    <p>
      Jordan
    </p>
    <p>
      <a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l on twitter!</a>
    </p>
    
    <p>
      P.S.  I've been working on a little side project at <a href="http://dota2scores.com">Dota 2 Scores</a>.  Its goal is to notify people when their favorite professional teams are playing.  I'd love any feedback you guys could give!
    </p>
  </body>
</html>