<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <p>
      Sorry to spam your email so soon after our previous one.  I've received confirmation from Valve this morning that amateur leagues will no longer be having item drops for their tournaments.  I do expect this impact ticket sales pretty significantly and hence the reason for this email.  Without knowing exactly how our ticket sales will fare, I'm going to say with some certainly that they will be possibly much lower than they currently are.  Without any paying sponsor, we can't support the amount we were doing before (and we just announced it yesterday!).
    </p>
    <p>
      I'll admit this is a bummer to us.  But I originally wanted to start AD2L without even knowing that we could get a ticket so it certainly won't stop me now.  Playing in our higher divisions are still amazing teams and playing at our lower divisions will be a lot of fun (I'll be playing there!) and I'm very excited for that!
    </p>
    <p>
      Thanks,
    </p>
    <p>
      Jordan
    </p>
    <p>
      <a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l on twitter!</a>
    </p>
    <p>
      <a href="https://twitter.com/aarmora" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow me on twitter!</a>
    </p>
  </body>
</html>