<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Greetings all!</h2>
    <h3>#AD2L @ #TI4</h3>
    <p>
     As you are undoubtedly aware, TI4 is fast approaching. Many of us from the AD2L are going to be heading out to Seattle for the big event, and we'd love to bring the community together face to face. To that end, we've put together a quick survey to help us plan the meetup. If you will be heading to TI4, <%= link_to "fill this out", "https://docs.google.com/forms/d/1xzlL5kJRO-8s3of4jPIPv9s7115FaBThkvb8obC6D74/viewform"%>, and we'll set something up and make sure you are invited. We look forward to seeing the wonderful AD2L community in Seattle!

    </p>
    <h3>Season 4 Update</h3>
    <p> 
      Hope everyone has been enjoying Season 4 so far. Don't forget to check out some of the Legendary games going on today and tomorrow. Please remember to be in close communication with your division admin as well. If you and the opposing captain agree on a new time, let the admin know. If your team is no longer able to compete, let the admin know. We really want to make sure that as many games happen as possible. We'll be removing no-show teams who do not contact their admin from Season 4 to try and clean things up.
    </p>
    <p>
      We know there have been a lot of teams that have had troubles contacting their admin or troubles even contacting their opponents.  We have a bunch of teams this season so these problems have been hard for us to deal with.  But we want you to know that we are aware and are working hard to try and provide better solutions for both this season and future seasons.
    </p>
    <h3>Patreon</h3>
    <p>
      Patreon is still a big deal to us!  We'd love to have your support there.  We'd be more than happy with just $1 a month if you can spare it and for that $1 you can help support AD2L!  Please check it out below!
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <p>
      Thanks,
    </p>
    <p>
      Jordan (Most of this was actually written by Havoc, my speech writer.)
    </p>
    <p>
      <a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l on twitter!</a>
    </p>
  </body>
</html>