<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <h3>Sign Up Now!</h3>
    <p>
     Registration for Season 4 ends on May 31st. You have 2 more days to register. After, May 31st you can still sign up but you will pay a $10 dollar late fee. Don't miss out on all the action of Season 4. 
    </p>
    <h3>Season 4 Format</h3>
    <p> 
      Season 4 will begin the week of June 9th. The games are a best of 2(bo2). Each group of teams are assigned an admin. That admin will be your go to person for questions about rescheduling, points and rules. If you have any questions about Season 4 check out the FAQ page underneath the community tab. 
    </p>
    <p> 
      We are going to be splitting the regions in season 4.  EU and NA will no longer play each other and this will effectively be doubling the prize pools, as there will be a pool for each region.  That'll be a total prize pool of $1,300 (increased by Patreon stretch goals).  We would be happy for any support that any are willing to give.  If you are planning on buying a ticket anyway, feel free to pledge to Patreon!  A $1 pledge will get you a ticket to one of AD2L's leagues!   
    </p>
    <h3>Patreon</h3>
    <p>
     Please visit our patreon page. If you donate a dollar you will receive a ticket for Season 4. Each dollar helps us provide more services for you. With your support we can provide larger prize pools and additional services. Please check out our patreon page.   
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <h3>Other Happenings</h3>
    <p>
     AD2L is currently providing weekend tournaments and 1v1 tournaments. Affinity is doing a great job running them. If you are looking to test your skills and mettle on the weekends go sign up for these fun activities. 
    </p>
    <p>
      Thanks,
    </p>
    <p>
      Seth(ShadowKiller)
    </p>
  </body>
</html>