<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hello <%=@player.name%>!</h2>
    <%end%>
    <h3>The Schedule is Live</h3>
    <p>
     We have released the schedule for Season 4 <%= link_to "here", "http://amateurdota2league.com/seasons/9"%>. Please visit our website and check out your match up. Captains please contact the other team's captain and make sure they are ready to go for Thursday the 12th of June. 
    </p>
    <h3>Each division has an Admin</h3>
    <p> 
    Each time is assigned a division and every division has an admin. Please be in contact with your admin. He will help you with reschedules and adjusting scores. Admins will also be able to help you with rules and answer any questions you may have.  We still could use some more volunteer admins.  If any of you are interested, please email me at sethad2l@gmail.com. 
    </p>
    <p>
     We look forward to a fun Season 4 of AD2L. 
    </p>
    <p>
      Thanks,
    </p>
    <p>
      Seth(ShadowKiller)
    </p>
    <p>
      <a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l on twitter!</a>
    </p>
  </body>
</html>