<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Okay, I'm really excited about this.  Playing competitive Dota has quite a few challenges.  Two of the major ones that we encounter at AD2L are that so many solo players don't have a team but really want to participate and that even after having a team it is hard to keep that team together.</p>

<p>Over the past year I've come to know and become good friends with Seventhings, the creator of League of Dota (and now runs a great Hearthstone league at <a title="Hearthkings" href="http://hearthkings.com" target="_blank">Hearthkings</a>).  A few months ago he told me he was going to participate in the Redbull LAN, which was a tournament where solo players were put in random groups and the winner progressed.  I was so pumped to watch him play and then <a href="http://www.redbull.com/us/en/esports/stories/1331695055682/red-bull-lan-seattle-has-its-undefeated-champion" target="_blank">win it all</a>, especially when competing against players like Chuan, ixmike, Demon, and Purge!  Now, Seven is a very good Dota player but he's never played professionally.  So the fact that a skilled, amateur player could go and win a tournament like that really made me wonder if that could be something that other amateur players could do.</p>

<p>So to address all of the above concerns and ideas, I'm happy to announce the AD2L solo league.  The quick and dirty of it is that a single player enters and <strong>has a chance to win a large sum of money (at least $500)</strong> in a short period of time (ideally one evening).  The runner ups would win lesser amounts of the $1,030 prize pool.  If there is enough interest, this would be something we'd like to do on a regular basis and possibly with a bigger prize pool.</p>

<p>The event will be on February 21st, starting at 3pm EST.  Open registration will begin next Saturday (February 7th) for one week.  After that time a late fee of $5 will be added to the $20 entrance fee.  It will be played on US East.  This tournament is also being financially backed partially by <a title="Dota Regions" href="http://www.dotaregions.com/" target="_blank">Dota Regions</a>, to whom we are very grateful.</p>

<p><b><a href="http://amateurdota2league.com/register">Register here!</a></b></p>
  </body>
</html>