

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo">
          Champion division
        </a>
      </h4>
    </div>
    <div id="collapseTwentyTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This is a more competitive level!  The buy in for this level is $15 and offers some awesome things.  There will be great competition and a chance at the highest prize pool!  It's awesome.</p> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour">
          Entry division
        </a>
      </h4>
    </div>
    <div id="collapseTwentyFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This one is $1 USD or $5 in steam items and open to all! I will be playing in this one!  I hope to win one game.  Everyone will progress to some sort of playoffs and it's meant to meet people and have fun.</p>
        <p>This is also a good spot for teams that want to work on progressing to the higher divisions in the next season.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix">
          So when do we play?
        </a>
      </h4>
    </div>
    <div id="collapseTwentySix" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Most other games will be played on Thursday evenings starting at 20:30 cet for EU teams and 8:30pm est for NA teams.  There will generally be two time slots with one starting at 8:30pm est/20:30 cet and the second starting around 10:00pm est/22:00 cet, again depending on your region.  Reschedules are definitely allowed assuming both teams agree! </p>
        <p>The group stage will have have one best of two each week.</p>
      </div>
    </div>
  </div>
</div> 