
<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          How and when?
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse in">
      <div class="panel-body">
        Register here!  Check in will be open on the seasons page 15 minutes before games begin at 5:00pm EST or 4:45pm EST.  Brackets will be made at 5:05pm edt and <b>if your team has not checked in, you will not participate and will not receive a refund.</b>
    </div>
  </div>  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
          Prize Pool
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          $100 to the first place team.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
          Format
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. Best of One, Single Elimination.</li>
          <li>2. Default server is US EAST. If both teams agree, the server can be switched. Set mode to CM.</li>
          <li>3. You are to set up your own lobbies unless an admin instructs you otherwise.</li>
        <ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
          Rules: 
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. No team is allowed to be more than 15 minutes late. Any amount of stand-in’s is fine with us, as long as no one has an MMR above the limit!</li>
          <li>2. Games will NOT be remade if your player happens to show up after the draft has started. He or she will have to join you next game.</li>
          <li>3. All other AD2L rules apply.</li>
          <li><b>4. Any team that plays with a player above the MMR (solo or party) limit will be disqualified without a refund.  No players without MMR may participate.  There will be spot checking.  If there is any question, players will have to accept friend requests from admins to prove that MMR is below the limit.</b></li>
        <ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
          How do I contact support? 
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. Ask for an admin in the AD2L STEAM group Chat</li>
          <li>2. Join the <%=link_to "AD2L Steam Chat Group", "http://steamcommunity.com/groups/AD2L"%></li>
          <li>3. Add <%=link_to "Rasputin", "/players/205"%> on Steam</li>
        <ol>
      </div>
    </div>
  </div>
</div> 