
  <div class="panel-group" id="accordion2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            How and when?
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse in">
        <div class="panel-body">
          Register here!  Check in will be open on the seasons page 15 minutes before games begin at 3:00pm EST or 2:45pm EST.  Brackets will be made at 3:05pm EST and <b>if your team has not checked in, you will not participate and will not receive a refund.</b>
      </div>
    </div>  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
            Prize Pool
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            $1,030 total.  $500 to first place player, $250 to second place.  The next 8 players will receive $80 each.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
            Format
          </a>
        </h4>
      </div>
      <div id="collapseFourteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Each round players will be matched up with random team members and against random opponents.  As players win, they will play against other winners until there are only two winners remaining.  After two losses you are out completely.  With one loss you can still receive $80.</p>
          <p>Please note this is a bit of an experiment for us.  We reserve the right to make small format changes as they make sense.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
            Rules: 
          </a>
        </h4>
      </div>
      <div id="collapseFifteen" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>1. Players more than 15 minutes late will be disqualified and removed.</li>
            <li>2. Sportsmanship is critical in this tourney.  There will be many different skill levels and good sportsmanship is expected and required.  AD2L reserves the right to ban or disqualify any player based on poor sportsmanship. Poor sportsmanship is decided at the judgement of the AD2L admin team.</li>
            <li>3. All other AD2L rules apply.</li>
            <li>4. Players of all skill levels are welcome to participate in this tournament.</li>
          <ol>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
            How do I contact support? 
          </a>
        </h4>
      </div>
      <div id="collapseSixteen" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>1. Ask for an admin in the AD2L STEAM group Chat</li>
            <li>2. Join the <%=link_to "AD2L Steam Chat Group", "http://steamcommunity.com/groups/AD2L"%></li>
            <li>3. Add <%=link_to "Rasputin", "/players/205"%> on Steam</li>
          <ol>
        </div>
      </div>
    </div>
  </div> 

<% if false %>
  <div class="panel-group" id="accordion2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            Who are you?
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>The organization is AD2L, a tournament for casual and semi-competitive players. You can register for our normal seasons on this website as well, where we will be completing registration for our next season in a few weeks.</p>

          <p>I am <a href="http://twitter.com/gotcowdota" target="_blank">Gorgon the Wonder Cow</a>, I am a freelance caster and eSports writer for a lot of organizations. If you read about or watch Dota, you've seen my work, even if you don't know who I am by name. I also do a lot of statswork for organizations like joinDOTA's editorial.</p>
      </div>
    </div>  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
            Why is this a thing?
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            Because we like Dota and we want to create more inclusive events for the community. I personally love ARDM. So I decided to make a tournament for it.
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
            Where can I watch?
          </a>
        </h4>
      </div>
      <div id="collapseFourteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>You'll have numerous options for watching the tournament. You can watch it on the AD2L Season 5 ticket in Dota-TV, on partnered channels CEVO-TV at twitch.tv/playcevo1 and twitch.tv/playcevo2, or you can listen to audio-only broadcasting at mixlr.com/dotafm.</p>

          <p>Casting will be provided by <a href="http://twitter.com/nahazdota" target="_blank">Nahaz</a>, <a href="http://twitter.com/siractionslacks" target="_blank">Sir Actionslacks</a>, <a href="http://twitter.com/toffees_dota2" target="_blank">Toffees</a>, and <a href="http://twitter.com/gotcowdota" target="_blank">myself</a>. Other casters may be involved by the time the tournament starts, but those are the very gracious folks who have already committed to spending their time casting you play!</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
            Who can register? 
          </a>
        </h4>
      </div>
      <div id="collapseFifteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Any team of five players with any skill level.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
            What is the prize split? 
          </a>
        </h4>
      </div>
      <div id="collapseSixteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>All $50 will be given to first place. If we get donations or something which increases the prize pool, we will announce the new split before the tournament.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
            What are the rules? 
          </a>
        </h4>
      </div>
      <div id="collapseSeventeen" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>1. Best of 1 single elimination tournament</li>
            <li>2. Best of three finals</li>
            <li>3. Side is determined by coin toss. For the finals, the second game will be a swap and the third game will be a coin toss again</li>
            <li>4. Each team will get up to three minutes of pause per game. After this point, the opposing team does not need to hold the game. Admins may call for an unpause at any time</li>
            <li>5. In the case of remakes due to lobby mistakes, the game will be remade with new heroes. In the case of remakes after the game has started (for example, due to server disconnects), the game will be remade from a save point where possible</li>
            <li>6. Any demonstrable instances of cheating (including but not limited to streamsniping, DDOS) will result in an automatic disqualification. Please show good sportsmanship</li>
            <li>7. For the integrity of the tournament, please do not stream your games unless you have at least a 4 minute delay</li>
            <li>8. No coaches</li>
            <li>9. No spectators not affiliated and approved by AD2L</li>
            <li>10. Games will start December 13th at 3:00 EST. If we have too many teams, we will make it a two-day event. Please be prepared to spend Saturday afternoon and evening (in EST) playing and possibly part of Sunday afternoon as well</li>
            <li>11. Servers will be US-East</li>
          <ol>
          <p>All AD2L conduct rules apply. Basically, don't do anything your imaginary (or real) sponsor wouldn't like.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">
            Why should I play in this? 
          </a>
        </h4>
      </div>
      <div id="collapseEighteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>I'm guessing if you're asking that, maybe you're not that interested. It's a chance to win money. More importantly, it's a chance to have fun. There's a good chance you'll get on Dota-TV and casted by somebody cool as well. Mostly, sign up to have fun.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">
            How can I support this? 
          </a>
        </h4>
      </div>
      <div id="collapseNineteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Tell your friends, make a team, and enter. The more people we have enter, the easier it is to justify getting events like this going in the future. In addition, watch and/or follow the streams at CEVO-TV to help us evaluate community interest. Tell your friends, family, pets, and neighborhood drunks to watch as well.</p>
          <p>If you want to help encourage free-to-play tournaments for the community of various types, you may consider buying an AD2L or CEVO Season 6 ticket in Dota-TV (both organizations which provide free-to-play tournaments of varying sizes). It's more important to watch than it is to buy, though.</p>
          <p>You can also contribute directly if you like tournaments like this one, AD2L has a patreon page. I am not going to take direct donations, so if you wanted to donate to me just offer that money as prize money instead. However, if you want updates on what I'm doing, including tournaments like this or general casting, writing, and projects, a follow on <a href="http://twitter.com/gotcowdota" target="_blank">twitter.com/gotcowdota</a> will get you that.</p>
        </div>
      </div>
    </div>
  </div> 

  <% end %>