<script language="JavaScript">
    var username = "amateurdota2league";
    var hostname = "gmail.com";
    var linktext = username + "@" + hostname ;
    $(document).ready(function(){
        $('#emailaddress').html("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
    })
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<div id="tbox1">
        <p>Your feedback is extremely important to us.</p>
        <p>If you contact us, we WILL respond.  Fast.</p>
    </div>
	<div id="tbox2">
        <div style="margin: 6px 0 22px 0;">EMAIL:<span style="margin-left: 30px;" id="emailaddress"></span></div>
        <div style="margin-bottom: 22px"><a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l</a></div>
        <div style="margin-bottom: 22px"><a href="sms:amateurdota2league@gmail.com">You can also iMessage us at amateurdota2league@gmail.com!</a></div>
         <p>
            <div><b>The admins</b></div>
            <div>Shadowkiller --<%= link_to "seth@amateurdota2league.com", "mailto:seth@amateurdota2league.com"%> or add him on steam <%= link_to image_tag("plus.png"), "steam://friends/add/76561198096413824" %></div>
            <div>Rasputin --<%= link_to "jordan@amateurdota2league.com", "mailto:jordan@amateurdota2league.com"%> or add him on steam <%= link_to image_tag("plus.png"), "steam://friends/add/76561198040889152" %></div>

        </p>
    </div>