<div class="accordionContainer">
        <div class="header nonActive">
          <div><div class="icon-secondary arrowright"></div>How do I sign up my team for AD2L?</div>
          <div class="clearit"></div>
        </div>
        <div class="clearit"></div>
        <div class="accordionBody">
			<div>
				<p>During our registration period you can sign up your team to compete in AD2L.</p></br>
				<p>To sign up for AD2L complete the following steps:</p>
					<ol>
						<li>Sign into steam</li>
						<li>Click the Sign Up! tab</li>
						<li>Find the team section</li>
						<li>Complete the input box with your team name and email</li>
						<li>Select the region you would like to compete in. NA = North America, EU=Europe</li>
						<li>Click Submit.</li>
					<ol>
				<p>
				<p>Afer you are registered you can go to your team page and add people to your team. Give you teammates the team key and they can join your team.</p></br>
				<p>Follow us on Twitter and Facebook to get the latest announcements on registration periods and season start dates.
			</div>
        </div>
</div>
<div class="accordionContainer">
        <div class="header nonActive">
          <div><div class="icon-secondary arrowright"></div></div>
          <div class="clearit"></div>
        </div>
        <div class="clearit"></div>
        <div class="accordionBody">
			<div>
				<p>During our registration period you can sign up your team to compete in AD2L.</p></br>
				<p>To sign up for AD2L complete the following steps:</p>
					<ol>
						<li>Sign into steam</li>
						<li>Click the Sign Up! tab</li>
						<li>Find the team section</li>
						<li>Complete the input box with your team name and email</li>
						<li>Select the region you would like to compete in. NA = North America, EU=Europe</li>
						<li>Click Submit.</li>
					<ol>
				<p>
				<p>Afer you are registered you can go to your team page and add people to your team. Give you teammates the team key and they can join your team.</p></br>
				<p>Follow us on Twitter and Facebook to get the latest announcements on registration periods and season start dates.
			</div>
        </div>
</div>
