
<div id="fullbox">
	<h2>Please login via Steam</h2>
	<p>First things first, please login via steam in the upper right hand corner. Once you're back, click Signup / Edit Info to get back here!</p>
</div>