<table class="table table-hover table-bordered" style="width:100%; margin-bottom: 10px">
     <thead>
        <tr>
            <th style="width: 100px;">Date</th>
            <th style="width: 250px; text-align: left">Match</th>
            <th>Score</th>
            <th>Caster</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    	<%- match_table.each do |match| %>
        <%= render match %>
      <% end %>
    </tbody>
</table>