/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/slider
 *= require jquery-ui/datepicker
 *= require jquery-ui/sortable
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_tree .
 */






	.formholder{
		width:500px
	}

	.formdivs{
		margin-bottom:50px;
	}

	.formdivs input{
		float:right;
		margin-top:3px;
	}
	.formdivs label{
		vertical-align:middle;
	}

    html{
      background: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

	body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #919191;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	a
	{
		color: #747474;
	}

	a:hover
	{
		text-decoration: none;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
	}

	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		color: #FFF;
	}

	.title .byline
	{
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin: 2em auto;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 3em 0em;
		border-bottom: 1px solid #363636;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 800px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 300px;
	}

	#sidebar .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer {
		overflow: hidden;
		padding: 6em 0em 4em 0em;
		border-bottom: 1px solid #363636;
	}

	#footer .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}

	#footer #fbox1 {
		float: left;
		width: 400px;
		margin-right: 50px;
	}

	#footer #fbox2 {
		float: left;
		width: 400px;
	}

	#footer #fbox3 {
		float: right;
		width: 300px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.75em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		color: #6A6A6A;
	}

	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Table Styles                                                                 */
/*********************************************************************************/

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #525252;
  padding: 5px
}
table td{
  font-size:13px;
}






