


	.formholder{
		width:500px
	}

	.formdivs{
		margin-bottom:50px;
	}

	.formdivs input{
		float:right;
		margin-top:3px;
	}
	.formdivs label{
		vertical-align:middle;
	}

	.rosterholder{
		width:300px;
	} 

	.rosterholder .pluslink{
		float:right;
		margin-top:-5px;
	} 
    html, body
	{
		height: 100%;
	}
    html{
      background: image-url('dota2background.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

	body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #919191;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #747474;
	}

	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	.steamsignin{
		margin-left:394px
	}


/*********************************************************************************/
/* Tabs                                                                */
/*********************************************************************************/
#tabs > .active{
	color:#fff;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #AEAEAE 40%, #A4A4A4 60%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #AEAEAE 40%, #A4A4A4 60%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.4, #AEAEAE), color-stop(.6, #A4A4A4));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #AEAEAE 40%, #A4A4A4 60%);
	/* IE 6-9  */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AEAEAE', endColorstr='#A4A4A4',GradientType=0 );
    background: #BC1414;
}

#tabs > .nonactive{
	color:#838383;
	cursor:pointer;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #D7D7D7 40%, #CCCCCC 60%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #D7D7D7 40%, #CCCCCC 60%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.4, #D7D7D7), color-stop(.6, #CCCCCC));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #D7D7D7 40%, #CCCCCC 60%);
	/* IE 6-9  */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7D7D7', endColorstr='#CCCCCC',GradientType=0 );
    background: #1B1B1B image-url('bg01.png') repeat;
}

.tab{
	font-size:18px;
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding:8px 16px;
	text-decoration:none;
}

.tab_mini{
	font-size:12px;
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding:4px 12px;
}

#tabs [class^="tab"]{
	float:left;
	margin-left:5px;
}

#tabs .TabsContainer{
	border:1px solid #A4A4A4;
	border-radius:6px;
	padding:20px;
	background:#FFFFFF;
    margin-bottom: 40px;
    float: left;
    width: 95%;
}

[class^="tabbody"].active{
	display:block;
}

[class^="tabbody"].nonactive{
	display:none;
}
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
	}

	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		color: #FFF;
	}

	.title .byline
	{
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
    .off{
        width: 8%;
        margin-left: 8px;
        cursor: pointer;
    }
    .on{
        width: 8%;
        margin-left: 8px;
        cursor: pointer;
    }
	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}
    .steamsignin{
        cursor:pointer;
	}
    .redspinner{
        margin-bottom: -8px;
        width: 32px;
        display: none;
    }
    .bootfromteam{
        float: right;
        cursor: pointer;
    }
    .s3logo{
    	width:11%
    }
    .probuilt{
    	width:30%;
    	margin-left:50px;
    }
    .logout{
		font-size: 10px;
		color: #BC1414;
		float: right;
    }

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1 {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	ul.style1 li {
		padding: 10px 0px 15px 0px;
		border-top: 1px solid #363636;
	}

	ul.style1 a {
		text-decoration: none;
		color: #919191;
	}

	ul.style1 a:hover {
		text-decoration: underline;
	}

	ul.style1 .first {
		padding-top: 0px;
		border-top: none;
	}

	ul.style2 {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	ul.style2 li {
		padding: 25px 0px 15px 0px;
		border-top: 1px solid #363636;
	}

	ul.style2 .first {
		padding-top: 0px;
		border-top: none;
	}

	ul.style2 h3 {
		padding: 0px 0px 10px 0px;
		letter-spacing: 0.10em;
	}

	ul.style2 h3 a {
		color: #FFF;
	}

	ul.style2 a {
		text-decoration: none;
		color: #919191;
	}

	ul.style2 a:hover {
		text-decoration: underline;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		background: #BC1414;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 0.80em !important;
		color: #fff !important;
        cursor: pointer;
	}
	.button:hover
	{
		background: #BB1717;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

	.button:active
	{
		background: #B41313;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

    #closedlivegames{
        text-decoration:none;
        position: absolute;
        top: -1px;
        left:24%;
        font-size: 20px;
        background-color: #BB1717;
        border-radius: 0 0 6px 6px;
        padding: 1px 7px;
        cursor: pointer;
        color: white;
        width: 700px;
        height: 32px;
        text-align: center;
        display:none;
     }
    #openlivegames{
        text-decoration:none;
        position: absolute;
        top: -1px;
        left:24%;
        font-size: 20px;
        background-color: #BB1717;
        border-radius: 0 0 6px 6px;
        padding: 1px 7px;
        cursor: pointer;
        color: white;
        width: 700px;
        height: 32px;
        text-align: center;
     }
    #livegamescontent{
        background-color: #1B1B1B;
        height: 0px;
        width: 700px;
        left: 24%;
        top: -1px;
        position: absolute;
        padding: 1px 7px;
        display: none
    }
    .twitchtitle{
        width: 80%;
        float: left;
        padding: 3px;
        font-size: 14px;
        color: white;
    }
    .twitchlink{
        float: left;
        padding: 3px;
        font-size: 14px;
        color: white;
    }
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 3em 0em;
		text-transform: uppercase;
	}

	#logo h1 a
	{
		text-decoration: none;
		font-size: 1.5em;
		color: #FFF;
	}

	#logo span
	{
		color: #BC1414;
	}

	#logo p
	{
		margin: 0;
		padding: 0;
		letter-spacing: 0.10em;
		font-size: 0.90em;
	}

	#logo p a
	{
		text-decoration: none;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		background: #1B1B1B image-url('bg01.png') repeat;
		border-bottom: 4px solid #BC1414;
	}

	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}

	#menu li
	{
		display: inline-block;
	}

	#menu a
	{
		display: block;
		padding: 0em 2em;
		line-height: 80px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #838383;
	}

	#menu .current_page_item a
	{
		background: #BC1414;
		color: #FFF;
	}

	#menu a:hover
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		margin: 2em auto;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 3em 0em;
		border-bottom: 1px solid #363636;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 800px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 300px;
	}

	#sidebar .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer {
		overflow: hidden;
		padding: 6em 0em 4em 0em;
		border-bottom: 1px solid #363636;
	}

	#footer .title
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		color: #FFF;
	}

	#footer #fbox1 {
		float: left;
		width: 400px;
		margin-right: 50px;
	}

	#footer #fbox2 {
		float: left;
		width: 400px;
	}

	#footer #fbox3 {
		float: right;
		width: 300px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.75em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		color: #6A6A6A;
	}

	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		margin-bottom: 2em;
		background: #FFF;
		border-bottom: 4px solid #BC1414;
		color: #525252;
	}

	#three-column h2
	{
		margin: 1em 0em;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 700;
		color: #454445;
	}

	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 500px;
		padding: 25px 50px 80px 50px;
	}
    .inputbox{
	    border-radius:6px;
	    padding:5px;
	    margin:5px;
	    width: 250px;
    }
    #fullbox{
        margin: 50px;
        padding: 20px;

	}
    .teammembername{
        margin-left: 5px
    }
    #sponsors{
    	background: #FFF;
    }
    #sponsorholder{
    	padding: 10px 10px 0 10px;
    }
/*********************************************************************************/
/* Table Styles                                                                 */
/*********************************************************************************/

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #525252;
  padding: 5px
}
table td{
  font-size:13px;
}






