/*********************************************************************************/
/* Footer / Copyright stuff                                                      */
/*********************************************************************************/

#copyright {
  padding: 6em 0em;
  font-size: 0.75em;
  letter-spacing: 0.20em;
  text-align: center;
  text-transform: uppercase;
  color: #6A6A6A;
  a { color: #747474; }
}
