/* Dimmable list component */

.list-dimming li {
  background: #eee;
  color: $gray;
}

.list-dimming.list-dimming-2 li:nth-child(-n+2),
.list-dimming.list-dimming-4 li:nth-child(-n+4),
.list-dimming.list-dimming-8 li:nth-child(-n+8),
.list-dimming.list-dimming-16 li:nth-child(-n+16),
.list-dimming.list-dimming-32 li:nth-child(-n+32),
.list-dimming.list-dimming-64 li:nth-child(-n+64),
.list-dimming.list-dimming-128 li:nth-child(-n+128) {
  background: $white;
  color: $black;
}