@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui-timepicker-addon.css";
@import "datatables.css";

@import "theme.css.scss";

@import "bracket.css.scss";
@import "forms.css.scss";
@import "footer.css.scss";
@import "list_dimming.css.scss";
@import "matches.css.scss";
@import "misc.css.scss";
@import "permissions.css.scss";
@import "players.css.scss";
@import "posts.css.scss";
@import "register.css.scss";
@import "seasons.css.scss";
@import "teams.css.scss";
@import "welcome.css.scss";

/* These are Charlie Approved Bootstrap overrides only */

body {
  background-color: transparent;
}

ol, ul {
  padding: 0;
  list-style: none;
}

#main {
  background-color: $white;
  padding: 0px 30px 30px 30px;
}

#sponsors {
  background-color: $white;
  padding: 15px;
  height: 150px;
  img {
    max-height: 120px;
    max-width: 100%;
  }
}

.select2 {
  min-width: 250px;
}

/* Fix the alignment of BIP when it's text only on forms. This isn't great, but meh */
.form-group .col-sm-2 + .col-sm-10 {
  padding-top: 7px;
  & > .best_in_place { margin-top: 0px; }
}
.modal-lg{
  width:1050px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

  #logo {
    position: relative;
    padding: 30px 25px;
    text-transform: uppercase;

    span {
      color: $primary-red;
    }
    a {
      text-decoration: none;
    }
    h1 a
    {
      text-decoration: none;
      font-size: 1.5em;
      color: $white;
    }

    .tagline {
      font-size: 10px;
      color: $gray;
      font-weight: bold;
    }


      .logout{
      font-size: 10px;
      color: $primary-red;
      }

      #current-user {
        line-height: 25px;
        float: right;
        margin-top: 15px;
        img { float: left;}
        span, a { margin-left: 5px; }
        span { font-size: 20px; }
      }
  }

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#LiveGames-Callout {
    text-decoration:none;
    font-size: 20px;
    background-color: $primary-red;
    border-radius: 0 0 6px 6px;
    padding: 7px;
    cursor: pointer;
    color: $white;
    text-align: center;
    i { top: 3px; }
 }

#LiveGames {
    background-color: $deep-gray;
    border-radius: 0 0 6px 6px;
    width: 60%;
    margin: 0 auto;
    top: -300px; /* It should never be this big, set by layout for saftey, JS will move it on screen */
    left: 20%;
    padding-top: 10px;
    position: absolute;
    transition: top 0.7s ease-in-out;
    font-size: 14px;
    color: $white;
    text-transform: none;
    z-index: 1; // Put it over the bootstrap crap

    a {
      color: $white;
    }
    table { width: 100%; }
    td {
      border: none;
      padding: 10px 5px;
    }
    tr + tr td {
      border-top: 1px solid #ddd;
    }
    .twitchtitle {
      width: 75%;
      padding-left: 20px
  }

  .twitchlink {
      width: 25%;
  }
}


/* 768px -  @screen-sm-min */
@media (min-width: 768px) {
  html {
    background: url(/assets/dota2background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

/*********************************************************************************/
/* Nav Menu                                                                          */
/*********************************************************************************/
.navbar { margin-bottom: 0px; }
.icon-bar { background-color: $white; }
.navbar-ad2l
{
  background: $deep-gray;
  border: none;
  border-bottom: 4px solid $primary-red;
  border-radius: 0px;

  ul.nav > li > a {
    padding: 0em 27px;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: $gray;

    &:hover, &:focus {
      color: $white;
      background: $faded-red;
    }
  }

  // When people tap on mobile, make it pop more against the background
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu > li > a {
      color: $white;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background: $primary-red;
    color: $white;
  }

  &.navbar-subnav {
    background-color: $primary-red;
    border-bottom: none;
  }

  /* sub-nav, similar to above navbar colors, could probably condense */
  .nav-tabs { border-bottom: none; }
  ul.nav-tabs > li.tab {
    padding: 0px 12px;
    &.active {
      a, a:hover, a:focus {
        /* background-color: #8a0f0f; */
        background-color: $white;
        border-color: $white;
        color: $primary-red;
      }
    }
    a {
      line-height: 50px;
      padding: 0em 6px;
      color: $light-gray;
      font-size: 0.9em;
      &:hover, &:focus {
        background-color: $dark-red;
        color: $white;
      }
    }
  }

  /* Other stuff in the nav bar */

  .navbar-brand {
    color: $white;
    span {
      color: $primary-red;
    }
  }

  .user-in-bar {
    margin-top: 8px;
    margin-right: 10px;
    color: $white;
  }
}
