
/* Endorsement heart icons */
.glyphicon-heart {
  cursor: pointer;
  color: #999;
  &:hover { text-shadow: #333 1px 1px 5px; }
  &.endorsed { color: #BB1717; }
}
/*
.dots p:last-child{
	content:" [...] ";
	display:inline;
}*/
.d2sHolder{	
	background-color: #1b1b1b;
}
.d2sHolder a:hover{	
	text-decoration: none;
}
.d2s{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -20px;	
}
.d2sText{
	color:#2980b9;
	font-size:18px;
}
.d2sTextLower{	
	margin-top:-30px;
	display:block
}