.week-selector {
  a.active {
    color: #747474; /* Default */
    &:hover, &:focus {
      text-decoration: none;
      cursor: text;
    }
  }
}
.rankings{
	margin-bottom:40px;
}
.steam_chat{
	margin-top:10px;
}
.week{
	margin-left:5px;
}