/*******************
  Common color definitions
*******************/


$primary-red:  #BC1414;
$faded-red: #3B1B1B;
$dark-red: #8a0f0f;


$white: #FFF;
$light-gray: #c4c4c4;
$gray: #999;
$dark-gray: #333;
$deep-gray: #1B1B1B;
$black: #000;