<h2>Please login via Steam</h2>
<p>First things first, please login via steam. Once you're back, click Register to get back here!</p>
<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %>