<div class="container">
	<div class="col-md-12">
		<h2>Register for the AD2L</h2>

		<p>The AD2L runs a variety of tournaments anywhere from a few hours to a few months with prizes ranging from hundreds of dollars to bragging rights.</p>

		<p>However, it really sucks for everyone in any tournament when teams don't show up.  To this end, some tournaments cost a nominal fee to ensure your participation or may ask you to check in on the website 15 minutes before they start.</p>

		<p>To get started, choose a team you captain to register, or sign up for one of our individual tournaments below.</p>

		<p>Not sure you are ready to commit?  Click one of the links below to learn more about our various tournaments.</p>
		<%= render :partial => "welcome/learn_more" %>
	</div>

	<div class="col-md-6">		
		<h2>Choose a team</h2>
		<% @player.teams.each do |team| %>
			<%= link_to team.teamname, team %><%= " (Captain - view team page to manage)" if @current_user && (team.captain_id == @current_user.id) %><%= " (Inactive)" if !team.active %><br><br>
		<% end %>
		<p>
			If you are new to the site, or wish to create a new team you can do so HERE and come back!
		</p>
		<button>Create team</button>
	</div>

	<div class="col-md-6">
		<h2>Individual Tournaments</h2>
		<p>Tournies here. We need to know what team they are on.</p>
	</div>
	

</div>