
<!-- WTSModal -->
<div class="modal fade" id="WTS" tabindex="-1" role="dialog" aria-labelledby="WTSLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="WTSLabel">Weekend Tournament Series</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "welcome/wts_faq" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Season4" tabindex="-1" role="dialog" aria-labelledby="Season4Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Season4Label">Season 4 Information</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "welcome/sFour_faq" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--1v1 Modal -->
<div class="modal fade" id="1v1" tabindex="-1" role="dialog" aria-labelledby="1v1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Season4Label">Season 4 Information</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "welcome/onevone_faq" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>